* {
    box-sizing: border-box;
}
html, body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.field:nth-child(1) {
    width: 100%;
}
.field:nth-child(2) {
    width: 50%;
    padding-right: 8px;
}
.field:nth-child(3) {
    width: 50%;
    padding-left: 8px;
}
.field:nth-child(4) {
    width: 100%;
}

.field-label {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
    line-height: 20px;
    letter-spacing: normal;
    margin-bottom: 8px;
}

.field-input {
    margin-bottom: 8px;
}

.field-btn {
    padding: 0;
    width: 100%;
}

input {
    width: 100%;
    outline: none;
}

input[type=tel] {
    font-size: 16px;
    border: 1px solid #5d5c5b;
    border-radius: 6px;
    width: 100%;
    padding: 0 22px;
    line-height: 28px;
    height: 56px;
}

input[type=submit] {
    background: #007a48;
    color: #ffffff;
    border: 0;
    height: 48px;
    font-size: 16px;
    padding: 0 16px;
    border-radius: 6px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #004a28;
}
